# -----------------------------------------------------------------------------
# Node.js (backend + frontend)
# -----------------------------------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# -----------------------------------------------------------------------------
# Docker
# -----------------------------------------------------------------------------
# Docker build files
docker-compose*.override.yml

# -----------------------------------------------------------------------------
# Kubernetes
# -----------------------------------------------------------------------------
*.yaml.backup
*.yml.backup

# -----------------------------------------------------------------------------
# Terraform
# -----------------------------------------------------------------------------
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

*.tfvars
*.tfvars.json

# -----------------------------------------------------------------------------
# Logs et fichiers temporaires
# -----------------------------------------------------------------------------
*.log
logs/
tmp/
temp/
*.pid

# -----------------------------------------------------------------------------
# Windows
# -----------------------------------------------------------------------------
Thumbs.db
ehthumbs.db
desktop.ini


# -----------------------------------------------------------------------------
# VS Code
# -----------------------------------------------------------------------------
.vscode/
.history/

# Angular cache
.angular/
app/frontend/.angular/
